/* project */
html,
body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you!  */
}

.mycontainer {
  padding: 0 !important;
}

.project-container {
  margin-bottom: 2rem;
}

.project-content {
  padding: 1rem;
}

.nav-item .active {
  font-weight: bold;
}

.project-header {
  padding-top: 1rem;
}

.story-header {
  padding: 1rem;
}

.story-subtitle {
  font-size: 1rem;
}

.project-tabs {
  margin: 2%;
}

#project-header {
  height: 122px;
}

.project-text {
  padding: 0.8rem 0 0 0;
  text-align: left;
}

.tab-content {
  background-color: white;
}

.tab-styles {
  font-size: 0.8rem;
}

@media (max-width: 992px) {
  .mycontainer {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
